body {display: block;}
main {display: inline;}
article {display: flex;}
article > * {min-width: 0;}
footer {display: inline-block;}
span {display: inline-flex;}
span {display: flex;min-width: 40px;}
span > * {min-width: 0;}
